In [ ]:
# Q1

In [4]:
a = "Kanishka"
print(a)

Kanishka

In [3]:
b= ["apple" , "labs" , 1234 , 7+6j ]
print(b)

['apple', 'labs', 1234, (7+6j)]

In [2]:
c= 93.4
print(c)

93.4

In [1]:
d= (45 , "zoo" , "chess" , 89.675 )
print(d)

(45, 'zoo', 'chess', 89.675)

In [5]:
# Q2

In [6]:
# 1) var1 = ''  ==== 'str'

In [7]:
# 2) var2 = '[DS, ML, Python]' ===== 'str'

In [8]:
# 3) var3 = ['DS' , 'ML', 'Python']====== list

In [9]:
# 4) var4 = 1 ===== int

In [10]:
#Q3

In [11]:
# 1) / This arithemetic operator is used  for normal division and the result is always is of float data type. eg:
a= 6
b=12
print(b/a)

2.0

In [12]:
# 2) Modulus operator (%) is also used for division ,  but it gives remainder as an aanswer. eg:
a= 6
b=12
print(b%a)

0

In [13]:
# 3) Floor operator(//) is too used for division like modulus operator , but the result is always quotient. eg :
a= 6
b=12
print(b//a)

2

In [14]:
# 4) Power operator( ** )It is used for doing exponential problems. eg :
c= 2
d=4
print(c**d)

16

In [15]:
#Q4

In [16]:
val= ["classmate", 34 ,67+8j , "gmail" ,' a' ,'n' ,'c', 'j' , "tiger", "gupta"]
for i in val:
  print(i)
  print(type(i))

classmate
<class 'str'>
34
<class 'int'>
(67+8j)
<class 'complex'>
gmail
<class 'str'>
 a
<class 'str'>
n
<class 'str'>
c
<class 'str'>
j
<class 'str'>
tiger
<class 'str'>
gupta
<class 'str'>

In [17]:
#Q5

In [10]:
a= int (input("Enter the first no:"))
b = int (input("Enter the second  no:"))
if a%b == 0 :
    print ("Yes" , a  ,"is purely divisible by" , b)
else :
    print (" No" , a  ,"is purely divisible by" , b)
c = a//b
print( "It divisible by " ,c , "no. of times")

Enter the first no: 4
Enter the second  no: 2

Yes 4 is purely divisible by 2
It divisible by  2 no. of times

In [ ]:
#Q6

In [8]:
h = [25]
while h[0] % 3 == 0: 
    print (h , "is divisible by 3")
    
    
if  25% 3 == 0:
    print (h , "is divisible by 3")
else :
    print (h , "is not divisible by 3")

[25] is not divisible by 3

In [1]:
#Q7

In [2]:
""" MUTABLE DATA TYPE :
mutable data type are those data type that can be modified , appended and deleted  in the existing statement . No new statement is created .
eg : LIST

IMMUTABLE DATA TYPE :
mutable data type are those data type that cannot be modified , appended and deleted  in the existing statement . New statement is created to perform such tasks.
eg : STRING , TUPLES  """

' MUTABLE DATA TYPE :\nmutable data type are those data type that can be modified , appended and deleted  in the existing statement . No new statement is created .\neg : LIST\n\nIMMUTABLE DATA TYPE :\nmutable data type are those data type that cannot be modified , appended and deleted  in the existing statement . New statement is created to perform such tasks.\neg : STRING , TUPLES  '